# Python
*.pyc
*.py~

# Documents
*.pdf
*.csv

# Development environments
*.kpf
*.komodoproject

# Databases
*.sqlite
*.sqlite3

migrations

#Media files

media/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
